/* src/App.css */
ul {
  padding-left: 0;
  position: relative;
}

li {
  list-style-type: none;
  text-align: center;
  position: relative;
  padding: 1em 0 0 1em;
}

li::before, li::after {
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ccc;
  width: 50%;
  height: 20px;
}

li::before {
  left: -50%;
}

li::after {
  right: -50%;
}

li:only-child::before, li:only-child::after {
  display: none;
}

li:only-child {
  padding-top: 0;
}

li:first-child::before, li:last-child::after {
  border: 0 none;
}

li:last-child::before {
  border-right: 2px solid #ccc;
  border-radius: 0 0 0 5px;
}

li:first-child::after {
  border-left: 2px solid #ccc;
  border-radius: 0 0 5px 0;
}

li > ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #ccc;
  width: 0;
  height: 20px;
}
